<div class="row">
	<div class="col-xs-12">
		<div class="jumbotron">
			<h2>System Number Conventer</h2>
				<div class="js-conventer-region"></div>
				<button type="submit" class="btn btn-primary js-convert-btn btn-lg">Convert</button>
	
			<h4>Wynik:</h4>
			<div class="js-convert-result"></div>
		</div>
	</div>
</div>