//
// Buttons
// ---------------------------

button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.btn {
    display: inline-block;
    &:hover {}
    &:focus {}
    &.active, &:active {}
    &.disabled, &[disabled] {}
}

.btn-plain{
    padding: 1rem 4rem;
    background: #f6f6f6;
}