//
// Application
// ---------------------------

.app {
    min-height: 100%;
    border: 1em solid $white;

    font-size: 1em;
}
.app::after{
  content: "";
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  background-image: url(../images/bg.jpg);
  background-position: center center;
}

@include mobile {
    .app {
        font-size: 1.05em;
    }
}

@include largeMobile {
    .app {
        font-size: 1.2em;
    }
}

@include tablet {
    .app {
        font-size: 1.3em;
    }
}

@include desktop {
    .app {
        font-size: 1.4em;
    }
}

@include largeDesktop {
    .app {
        font-size: 1.25em;
    }
}
