<div class="form-group">
	<label>{{label}}</label>
	<input class="js-input" value={{value}}></input>

	<p class="help-block js-input-alert hide-text">Nieprawidłowa wartość. Wpisz liczbę od 2 do 36 która reprezentuje dany system liczbowy.</p>
</div>